[user]
	name = Parker Coates
	email = coates@qps.nl

[advice]
	statusHints = false
	detachedHead = false

[branch]
	autosetuprebase = always

[cola]
	tabwidth = 4
	textwidth = 70

[color]
	ui = true

[core]
	excludesfile = ~/.gitignore-global
#	pager = less $LESS -FRXS
	whitespace = blank-at-eol,space-before-tab,tab-in-indent,blank-at-eof
	autocrlf = input


[diff]
	tool = kompare
	mnemonicprefix = true
	renames = copies

[fetch]
	prune = true

[gui]
	editor = kate
	historybrowser = gitk
	diffcontext = 6

[log]
	date = iso
	decorate = short

[merge]
	tool = kdiff3

[push]
	default = simple

[rebase]
	autosquash = true
	autostash = true

[url "git://anongit.kde.org/"]
	insteadOf = kde:

[url "git@git.kde.org:"]
	pushInsteadOf = kde:

[alias]
	plog = log --graph --format=format:'%C(bold blue)%h%Creset%C(bold magenta)%d%Creset %C(green)%an%Creset %s %C(yellow)(%cr)'
	last-week = log --all --author=coates --since=8.days.ago --date-order --reverse --format=format:'%C(yellow)(%ar)%Creset %s'
	ignored = ls-files -o -i --exclude-standard
	st = status --short
	unadd = reset HEAD
	unstage = reset HEAD
	qr = quick-rebase
	bpull = branch-pull
	bfetch = branch-pull --fetch-only
	bpush = branch-push
	wipi = wip --index-only

[merge "ours"]
	driver = true

[rerere]
	enabled = true

[credential]
	helper = cache --timeout=10800

[init]
	templatedir = ~/.gittemplates
