[user]
	email = coates@qps.nl
	name = Parker Coates

[advice]
	detachedHead = false
	statusHints = false

[alias]
	bfetch = branch-pull --fetch-only
	bpull = branch-pull
	bpush = branch-push
	bpushp = branch-push --prompt
	branch-ages = for-each-ref --sort=committerdate refs/remotes refs/heads --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:green)%(committerdate:relative)%(color:reset) - %(authorname)'
	ignored = ls-files -o -i --exclude-standard
	last-week = !git log --all --author=\"$(git config user.name)\" --since='2 sunday ago' --until='1 sunday ago' --date-order --reverse --date=short --format=format:'%C(blue)%cd %C(yellow)(%cr) %C(green)%h %Creset%s'
	last-two-weeks = !git log --all --author=\"$(git config user.name)\" --since='3 sunday ago' --until='1 sunday ago' --date-order --reverse --date=short --format=format:'%C(blue)%cd %C(yellow)(%cr) %C(green)%h %Creset%s'
	merge-tool = mergetool
	plog = log --graph --format=format:'%C(bold blue)%h%Creset%C(bold magenta)%d%Creset %C(green)%an%Creset %s %C(yellow)(%cr)'
	qr = quick-rebase
	st = status --short
	unadd = reset HEAD
	unstage = reset HEAD
	wipi = wip --index-only

[cola]
	tabwidth = 4
	textwidth = 70

[color]
	ui = true

[core]
	autocrlf = input
	excludesfile = ~/.gitignore-global
#	pager = less $LESS -FRXS
	whitespace = blank-at-eol,space-before-tab,tab-in-indent,blank-at-eof

[credential]
	helper = cache --timeout=10800

[diff]
	algorithm = patience
	mnemonicprefix = true
	renames = copies
	tool = kdiff3
	indentHeuristic = true

[fetch]
	prune = true

[gui]
	diffcontext = 6
	editor = kate
	historybrowser = gitk

[init]
	templatedir = ~/.gittemplates

[log]
	date = iso
	decorate = short

[merge]
	renameLimit=0
	tool = kdiff3

[merge "ours"]
	driver = true

[mergetool]
	keepBackup = false

[pull]
	rebase = true

[push]
	default = simple

[rebase]
	autosquash = true
	autostash = true

[rerere]
	enabled = true

[url "git://anongit.kde.org/"]
	insteadOf = kde:

[url "git@git.kde.org:"]
	pushInsteadOf = kde:
